* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: aqua;
}
.div_main {
  width: 60%;
  margin: 50px auto;
}
.child_1 {
  margin-bottom: 100px;
}
#info {
  font-size: 25px;
}
#input {
  font-size: 25px;
  width: 500px;
  height: 30px;
  text-align: center;
}
#btn {
  width: 35px;
  height: 35px;
  font-size: 25px;
  border-radius: 5px;
}
#btn:hover {
  scale: 1.1;
}
#result {
  font-size: 25px;
  display: inline-block;
  margin-left: 20px;
}
/* //////// */
.child_2 {
  margin-bottom: 100px;
}
#info_2 {
  font-size: 25px;
}
#input_2 {
  font-size: 25px;
  width: 500px;
  height: 30px;
  text-align: center;
}
#btn_2 {
  width: 35px;
  height: 35px;
  font-size: 25px;
  border-radius: 5px;
}
#btn:hover {
  scale: 1.1;
}
#result_2 {
  font-size: 25px;
  display: inline-block;
  margin-left: 20px;
}

/* /////////////// */

#info_3 {
  font-size: 25px;
}
#input_3 {
  font-size: 25px;
  width: 500px;
  height: 30px;
  text-align: center;
}
#btn_3 {
  width: 35px;
  height: 35px;
  font-size: 25px;
  border-radius: 5px;
}
#btn:hover {
  scale: 1.1;
}
#result_3 {
  font-size: 25px;
  display: inline-block;
  margin-left: 20px;
}
